* {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

html {
	direction: rtl;
	font-family: "XBKhoramshahrRegular", sans-serif;
}

body {
	margin-top: 40px;
	text-align: center;
	font-size: 15px;
	line-height: 1.8;
	background-color: #fff;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}

ul, ol {
	list-style: none;
}

header a{
	border: 0;
}

header img{
	width: 90px;
	margin-bottom: 10px;
}

header h1 {
	font-family: "XBYagutBold";
	font-size: 22px;
}

.article_image {
	width: 100%;
}

.container {
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}

	.article_image {
		max-width: 750px;
	}
}

nav {
	padding: 20px;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline;
	margin-left: 10px;
}

article .heading {
	margin-bottom: 20px;
}

article .heading h1 {
	font-family: "XBYagutBold" !important;
	font-size: 22px;
}

article .heading h3 {
	font-family: "XBYagutBold" !important;
	color: #666;
}

article p, article ol {
	text-align: justify;
	margin-bottom: 20px;
}

article .note {
	padding: 10px;
	color: tomato;
	border: 1px solid tomato;
}

article .note a {
	color: tomato;
}

.block {
	padding: 10px;
	font-size: 15px;
	margin-bottom: 20px;
}

.block small {
	font-size: 14px;
	margin-right: 4px;
}

.block small:before {
	content: "\003C";
}

.block small:after {
	content: "\003E";
}

.block-default {
	color: #000;
	border-bottom: 1px solid #000;
}

.date {
	color: #ccc; padding: 2px;
	/*background-color: #000;*/
}

.time {
	color: #000;
	margin-left: 2px;
}

.ul-right, .ol-right {
	text-align: justify;
}

strike {
	color: #ccc;
}

.code{
	direction: ltr;
	text-align: left;
	font-size: 14px;
	border: 1px solid #000;
	padding: 10px;
	word-wrap: break-word;
}

footer {
	padding: 20px;
}

footer ul {
	list-style: none;
}

footer ul li {
	display: inline;
	margin-left: 10px;
}

.figure{
	/*padding: 10px;*/
	padding-left: 0;
	padding-right: 0;
}

.figure img{
    max-width: 100%;
}

.figure p{
	text-align: center; margin-top: 10px;
	color: #666; font-size: 14px;
}

iframe{
	border:0; height: 340px;
	margin-bottom: 5px;
	width: 100%;
}

/*@media (max-width: 768px){
	article .ul-right li a {
		display: block;
		margin-bottom: 10px;
	}
}*/