
/* This font should not be used but after having Adobe permission. */
@font-face{
	font-family:"MyriadArabicRegular";
	src:url("../fonts/MyriadArabicRegular.woff") format("woff");
	font-weight:normal;
	font-style:normal;
}

/* This font should not be used but after having Adobe permission. */
@font-face{
	font-family:"MyriadArabicBold";
	src:url("../fonts/MyriadArabicBold.woff") format("woff");
	font-weight:normal;
	font-style:normal;
}

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

html {
	direction: rtl;
	font-family: "MyriadArabicRegular" !important;
}

body {
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}

a {
	color: #e31784;
	text-decoration: none;
	border-bottom:1px dotted;
}

ul, ol {
	margin-right: 26px;
}

.container {
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

nav {
	padding: 20px;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline;
	margin-left: 10px;
}

article .heading {
	margin-bottom: 20px;
}

article .heading h1 {
	font-family: "MyriadArabicBold" !important;
}

article .heading h3 {
	font-family: "MyriadArabicBold" !important;
	color: #666;
}

article p, article ol {
	text-align: justify;
	margin-bottom: 20px;
}

article .note {
	padding: 10px;
	color: #f18bc1;
	border: 1px solid #f18bc1;
}

.block {
	padding: 10px;
	font-size: 20px;
	margin-bottom: 20px;
}

.block small {
	font-size: 14px;
	margin-right: 4px;
}

.block small:before {
	content: "\003C";
}

.block small:after {
	content: "\003E";
}

.block-default {
	border: 1px solid #ffbc19;
	color: #ffbc19;
}

.date {
	color: #929292;
}

.date:before {
	content: "\003C";
}

.date:after {
	content: "\003E";
}

.ul-right, .ol-right {
	text-align: justify;
}

strike {
	color: #ccc;
}

footer {
	padding: 20px;
}

